version: "3.9"

services:
  person-service:
    build: ./person-service
    ports:
      - "5001:5001"

  auth-service:
    build: ./auth-service
    ports:
      - "5003:5003"

  health-service:
    build: ./health-service
    ports:
      - "5002:5002"
    depends_on:
      - person-service
